---
import Layout from '../layouts/Layout.astro';
import '../../app/globals.css'
import { Button } from "../components/ui/button"
---

<Layout title="Investment dashboard">
	<main>
		<h1 class="text-white text-3xl font-bold underline">Investment dashboard</h1>
		<Button>Hello World</Button>
	</main>
</Layout>