---
import Layout from '../layouts/Layout.astro';
import '../../app/globals.css'
import { DataTable } from "../components/data-table"
import { columns } from "../components/columns"
import stocks from "../data/stocks.json"
---

<Layout title="Investment dashboard">
	<main>
		<h1 class="text-white text-3xl font-bold underline">Investment dashboard</h1>
		<div class="container mx-auto py-10">
			<DataTable columns={columns} data={stocks} />
		</div>
	</main>
</Layout>